
.save {
    margin-right: 8px;
  }

  [nz-button] {
    margin-right: 8px;
    margin-bottom: 12px;
  }

  .ant-statistic-title {
    color: red !important;
    font-size: 24px;
  }

  ant-drawer-body{

    z-index: 1 !important;
  }