<div class="container-fluid">

  <div class="container ">

    <div class="card rounded-0 mb-3">
      <div class="row my-3">
        <div class="col-4">

          <div class="text-center">

            <span class="">
              <c-avatar src="assets/img/avatars/8.jpg" status="success" size="xl"></c-avatar>

            </span>

            <p class="mt-3 fs-6 fw-light">


              Madam Signo ( PDG)
               
            </p>
          </div>

          <hr>

          <div class="mt-3 ms-4">

            <div class="form-group mb-3">
              <label for="companyName">Raison social</label>
              <input type="text" class="form-control rounded-0" id="companyName" placeholder="Tapez ici... ">
            </div>
            <div class="form-group mb-3">
              <label for="companyAddress">Adresse de l'entreprise</label>
              <input type="text" class="form-control rounded-0" id="companyAddress"
                placeholder="Entrez l'adresse de l'entreprise">
            </div>
            <div class="form-group mb-3">
              <label for="companyPhone">Numéro de téléphone de l'entreprise</label>
              <input type="text" class="form-control rounded-0" id="companyPhone"
                placeholder="Entrez le numéro de téléphone de l'entreprise">
            </div>
            <div class="form-group mb-3">
              <label for="companyEmail">Adresse email de l'entreprise</label>
              <input type="email" class="form-control rounded-0" id="companyEmail"
                placeholder="Entrez l'adresse email de l'entreprise">
            </div>
          </div>

        </div>
        <div class="col-8 ">

          <div class="me-3">

            <form>
              <div class="form-group mb-3">
                <label for="legalStatus">Statut juridique</label>
                <input type="text" class="form-control rounded-0" id="legalStatus" placeholder="Entrez le statut juridique">
              </div>
              <div class="form-group mb-3">
                <label for="businessSector">Secteur d'activité</label>
                <select class="form-control rounded-0" id="businessSector">
                  <option>Sélectionnez un secteur d'activité</option>
                  <option>Code 1</option>
                  <option>Code 2</option>
                  <option>Code 3</option>
                </select>
                <input type="text" class="form-control mt-3 rounded-0" id="businessSectorCode"
                  placeholder="Entrez le code du secteur d'activité">
              </div>
              <div class="form-group mb-3">
                <label for="rccmNumber">Numéro RCCM</label>
                <input type="text" class="form-control rounded-0" id="rccmNumber" placeholder="Entrez le numéro RCCM">
              </div>
              <div class="form-group mb-3">
                <label for="rccmCity">Ville de création du RCCM</label>
                <input type="text" class="form-control rounded-0" id="rccmCity" placeholder="Entrez la ville de création du RCCM">
              </div>
              <div class="form-group mb-3">
                <label for="nccNumber">Numéro Compte Contribualble (NCC)</label>
                <input type="text" class="form-control rounded-0" id="nccNumber"
                  placeholder="Entrez le numéro Compte Contribualble">
              </div>
              <div class="form-group mb-3">
                <label for="taxCenter">Centre d’impôt de rattachement</label>
                <input type="text" class="form-control rounded-0" id="taxCenter"
                  placeholder="Entrez le Centre d’impôt de rattachement">
              </div>
              <div class="form-group mb-3">
                <label for="teleDeclarantNumber">Numéro télédéclarant</label>
                <input type="text" class="form-control rounded-0" id="teleDeclarantNumber"
                  placeholder="Entrez le numéro télédéclarant">
              </div>
              <div class="form-group mb-3">
                <label for="cnpsNumber">Numéro CNPS</label>
                <input type="text" class="form-control rounded-0" id="cnpsNumber" placeholder="Entrez le numéro CNPS">
              </div>
              <div class="form-group mb-3">
                <label for="cnpsCenter">Centre CNPS de rattachement</label>
                <input type="text" class="form-control rounded-0" id="cnpsCenter"
                  placeholder="Entrez le Centre CNPS de rattachement">
              </div>
              <div class="form-group mb-3">
                <label for="importExportCode">Code import/export</label>
                <input type="text" class="form-control rounded-0" id="importExportCode"
                  placeholder="Entrez le code import/export">
              </div>
              <div class="form-group mb-3">
                <label for="postalAddress">Adresse postale</label>
                <input type="text" class="form-control rounded-0" id="postalAddress" placeholder="Entrez l'adresse postale">
              </div>
              <div class="form-group mb-3">
                <label for="geographicAddress">Adresse géographique</label>
                <input type="text" class="form-control rounded-0" id="geographicAddress"
                  placeholder="Entrez l'adresse géographique">
              </div>
              <div class="form-group mb-3">
                <label for="website">Site web</label>
                <input type="text" class="form-control rounded-0" id="website" placeholder="Entrez l'adresse du site web">
              </div>
              <div class="form-group mb-3">
                <label for="socialNetworks">Réseaux sociaux</label>
                <input type="text" class="form-control rounded-0" id="socialNetworks"
                  placeholder="Entrez les liens des réseaux sociaux">
              </div>
              
              <button cButton class="m-1 rounded-0" disabled>
                <c-spinner aria-hidden="true" size="sm"></c-spinner>
                Enregistrer
              </button>
            </form>

          </div>




        </div>
      </div>
    </div>
  </div>
</div>
